<%- include('partials/header'); -%>
    <div class="box" id="heading">
        <h1><%= listType %></h1>
    </div>
    <div class="box">
        <% items.forEach((item) => { %>
            <div class="item">
                <input type="checkbox">
                <p><%= item %></p>
            </div>
        <% }) %>
        <form action="/" method="post">
            <input type="text" name="item" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value="<%= listType %>">+</button>
        </form>
    </div>
    <%- include('partials/footer'); -%>
